*{
    Padding : 0;
    Margin:0;
}



.container{
  display: grid;
  grid-template-columns: auto auto auto;
  columns:0%;
  grid-auto-rows: 0%;
  height: auto;
  width: 100%;

}

.studentNr{
  font-style: italic;
  font-weight: lighter;
}

.container-item{
  padding: 5px;
  font-size: 15px;
  text-align: center;
  height: auto;
  margin: 30px;
}

h3{
  font-style: oblique;
  font-weight: bolder;
}
h1{
  background-color: white;
   text-align: left;
    max-width: 100%;
    padding-bottom: 4erpx;

}
.paragraf{
  font-weight: 500;
  font-style: italic;

}
img{
height: 400px;
width: 100%;
height: 90%;

}