*{
    Padding : 0;
    Margin:0;
    box-sizing: border-box;
}
html{

  font-size: 20px;
  font-family:  "lato" Arial, sans-serif;


}
.container{
  display: grid;
  grid-template-columns: auto auto auto;
  columns: 0%;
  grid-auto-rows: 0%;
  height: auto;
  width: 100%;
  height: auto;
  color: white;
  background-color: #3F0F3F;



}
body{

}




.studentNr{
  font-style: italic;
  font-weight: lighter;
}

.container-item{
  padding: 5px;
  font-size: 15px;
  text-align: center;
  height: 100%;
  margin: 30px;
  margin-bottom: 0px;
  
}

h3{
  font-style: oblique;
  font-weight: bolder;
}

.team{
 background-color:  #92a8d1;;
 color: black;
 border: skyblue;
}



.paragraf{
  font-weight: 500;
  font-style: italic;

}
img{
width: 60%;
height: 250px;
}