*{
    /*Padding : 0;
    Margin:0;*/
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;

    
}
body{
    margin:0;
    background-color:#ffff;
}

/*Denis*/
body h1{
    font-family: sans-serif;
    font-size: 18pt;
    text-align: left;
    max-width: 100%;
    color: black;
    padding-bottom: 10px;
    line-height: 1.6;
}
body h2{
    font-family: sans-serif;
    font-size: 18pt;
    text-align: left;
    max-width: 100%;
    color: black;
    padding-bottom: 10px;
    line-height: 1.6;
}
body p{
    font-family: sans-serif;
    max-width: 100%;
    font-size: 18pt;
    line-height: 1.6;
}
body li{
    font-family: sans-serif;
    font-size: 18pt;
    margin: 25px;
    line-height: 1.6;
    /*line-height: 1.5;*/
    margin: 10px;/* space between the horizontal lines in a list */
  }
body ul{
    font-family: sans-serif;
    padding-left: 20px;
    line-height: 1.6;
}
body div{
    /*margin: 4vw;*/
    padding: 10px;
    max-width: 80%;
    border-radius: 5px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;

}
body img{
    max-height: 80%;
    height: auto;
    width: 100%;
   
}
a.onHowerChangeSize:hover{
    font-size: 125%;
    text-decoration: none;
}
a.onHowerChangeSize{
    text-decoration: none;
}

.flex-container{
    display: flex;
}
.text-container{
    text-align: none;
}
.outer-container{
    
}
/*Denis*/
@media screen and (max-width:600px){
    #image{
        max-width: 25% ;
        height: auto;
    }

}