.container{
  display: grid;
  grid-template-columns: auto auto auto;


}

.container-item{
  padding: 5px;
  font-size: 30px;
  text-align: center;
  width: 90%;
}
h1{
  background-color: white;
}
.paragraf{
  font-weight: 500;
  font-style: italic;
}