*{
    /*Padding : 0;
    Margin:0;*/
    box-sizing: none;
    /*border: 1px solid blue; Please dont delet this line, I use it to see the boxes*/
    
}

html{
    scroll-behavior: smooth;

    
}
/*Denis*/
body{
    margin:0;
    background-color:#3F0F3F;
    padding-left:40px;
    padding-right:40px;
}

body h1{
    font-family: sans-serif;
    font-size: 5vw;
    text-align: left;
    max-width: 100%;
    color: black;
    padding-bottom: 10px;
    line-height: 1.6;
}
body h2{
    font-family: sans-serif;
    font-size: 2.5vw;
    text-align: left;
    max-width: 100%;
    color: black;
    padding-bottom: 5px;
    line-height: 1.6;
}
body p{
    font-family: sans-serif;
    max-width: 100%;
    font-size: auto;
    line-height: 1.6;
}
body li{
    font-family: sans-serif;
    font-size: auto;
    margin: 25px;
    line-height: 1.6;
    /*line-height: 1.5;*/
    margin: 10px;/* space between the horizontal lines in a list */
  }
body ul{
    font-family: sans-serif;
    padding-left: 20px;
    line-height: 1.6;
}
body div{
    /*margin: 4vw;*/
    padding: 10px;
    max-width: 80%;
    border-radius: 5px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}
.title{
    text-align: center;
}
/*
body img{
    max-height: 80%;
    height: auto;
    width: 100%;
    }
    */

.GirlImg{
    height: auto;
    max-width: 80%;
    margin: 0;
}
.boxIMG{
    max-width: auto;
    height:388px;
}

a.onHowerChangeSize:hover{
    color: orangered;
    text-decoration: none;
}
a.onHowerChangeSize{
    text-decoration: none;
}

.flex-container{
    /*
    column-count: 2;
    margin: auto;
     column-fill: auto;*/
}

.text-container{
    text-align: left; /*adjust text align*/
    background-color: white;
    max-width: 1000px;
    margin:auto;
    padding-bottom: 0px;
    padding: 30px;
    border-radius: 0px; /*removes the autopmaitc curving of edges*/
    
    
}
/*Denis*/
@media screen and (max-width:700px){
    body h1{
        width: 100%;
        position: relative;
        text-align: center;
        font-size: 30px;
    }
    body h2{
        width: 100%;
        position: relative;
        text-align: left;
        font-size: 20px;
    }
    .GirlImg{
        min-height: 100%;
        max-height: 100%;
        margin: 0;
    }
    .boxIMG{
       width: 80%;
       height: 80%;
    }
    .text-container{
        padding-bottom: 0px;
    }

}