*{
    Padding : 0;
    Margin:0;
}
body{
    margin:0;
}

body h1{
    text-align: left;
    max-width: 100%;
    color: black;
    padding-bottom: 10px;
}
body p{
    max-width: 100%;
    font-size: large;
}
body li{
    font-size: 17px;
    margin: 25px;
    /*line-height: 1.5;*/
    margin: 10px;/* space between the horizontal lines in a list */
  }
body ul{
    padding-left: 20px;
}
body div{
    margin: 4em;

}
